body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
}

.loginp{
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 25%;
}
#submit{
  display: block;
  margin: auto;
}
form{
  margin-top: 35vh;
}
input{
  padding: 10px;
}

.buttons{
  text-align: center;
}
.buttons button{
  margin-right: 10px;
  padding: 7px;
  background-color:rgb(251, 233, 233);
  border: 2px solid rgb(65, 65, 211);
  border-radius: 5px;
}
.buttons button:active{
  background-color: chartreuse;
}
